@media only screen and (min-width: 700px) {
    body {
        font-family: 'Raleway', sans-serif;
        background-color: whitesmoke;
    }

    .container {
        display: flex;
        justify-content: center;
        margin: 80px 250px
    }

    .signup {
        border-radius: 10px 0 0 10px;
        background-color: lightgreen;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .signin {
        border-radius: 0 10px 10px 0;
        background-color: lightgrey;
        padding: 10%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .links a {
        margin: 1%;
    }

    input {
        margin: 1%;
        background-color: white;
        border: none;
        height: 40px;
        width: 350px;
        border-radius: 5px;
    }

    .signin .btn {
        padding: 10px 35px;
        margin: 1%;
        width: auto;
        border-radius: 10px;
        border: none;
        background-color: whitesmoke;
    }

    .signup .btn {
        padding: 5%;
        margin: 0 40px;
        border-radius: 10px;
        border: none;
        background-color: whitesmoke;
    }

    p,
    h1,
    .links {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .links a:hover {
        color: white;
    }

    .icon-input i {
        position: absolute;
        padding: 1%;
        color: lightslategray;
    }

    .input {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 700px) {
    body {
        font-family: 'Raleway', sans-serif;
        background-color: whitesmoke;
    }

    .signup {
        border-radius: 10px 10px 0 0;
        background-color: lightgreen;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .signin {
        border-radius: 0 0 10px 10px;
        background-color: lightgrey;
        padding: 10%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .links a {
        margin: 1%;
    }

    input {
        margin: 1%;
        background-color: white;
        border: none;
        height: 40px;
        width: 350px;
        border-radius: 5px;
    }

    .signin .btn {
        padding: 10px 35px;
        margin: 1%;
        width: auto;
        border-radius: 10px;
        border: none;
        background-color: whitesmoke;
    }

    .signup .btn {
        padding: 2%;
        margin: 0 150px;
        border-radius: 10px;
        border: none;
        background-color: whitesmoke;
    }

    p,
    h1,
    .links {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /*.edge {
        background-color: lightgreen;
        color: white;
        padding: 1%;
        border-radius: 10px;
        margin: 1%;
    }*/

    .links a:hover {
        color: white;
    }

    .icon-input i {
        position: absolute;
        padding: 3%;
        color: lightslategray;
    }

    .input {
        padding-left: 40px;
    }
}