:root {
    --background-body: whitesmoke;
    --background-left: #64dd17;
    --background-right: lightgrey;
    --background-input: white;
    --background-btn: whitesmoke;
    --text-color: black;
    --color-houver: white;
}

.darkmode:root {
    --background-body: #000a12;
    --background-left: #1b5e20;
    --background-right: #000a12;
    --background-input: lightgray;
    --background-btn: whitesmoke;

    --text-color: white;
    --color-houver: limegreen;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-body);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 150vh;
    margin: 5%;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    background-color: var(--background-right);
    width: 40%;
    height: 100%;
    align-items: center;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    background-color: var(--background-left);
    width: 60%;
    height: 100%;
    align-items: center;
}

.links a {
    margin: 5px;
}

form {
    width: 70%;
}

input {
    background-color: var(--background-input);
    border: none;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
}

.signin .btn {
    padding: 0 5%;
    margin-top: 5%;
    width: auto;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
}

.signup .btn {
    padding: 5%;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
}

p,
h1,
.links {
    text-align: center;
}

.links a:hover {
    color: white;
}

.icon-input i {
    color: lightslategray;
}